@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,100&display=swap');



body{
    font-family: 'Roboto', sans-serif;
    background-color: bisque;
}
/*LOGO*/

.logoHot {
    width: 180px;
    height: 100px;
}
/*NAV*/
.fuentesNav {
    font-size: 1.4rem;
    padding-left: 3rem;
    margin-bottom: 0;
}
.fuentesNav li {
    margin-left: 80px;
    
}
header {
    border-bottom: solid 5px gray;
    background-color: coral;
    margin-bottom: 0;
}
.queSomos {
    margin-top: 15px;
    margin-bottom: 5rem;
    text-align: center;
    text-decoration: underline;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-size: 2rem;
    color: black;
    font-family: 'Roboto', sans-serif;
} 
.cajaIndex {
    font-size: 1.5rem;
    border-radius: 4px;
    height: 500px;
    width: 1000px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: coral ;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 20px 2px 10px;
    opacity: 90%;
    max-width: 90%;
    border-radius: 10rem;
}


.cajaIndex p {
    color: black solid;
    text-decoration: underline;
    text-transform: uppercase;
    
        
}
.cajita {
    margin-bottom: 10rem;
}

/*Formulario*/
.tituloForm {
    text-decoration: underline;
   
}
.loremForm {
    color:black;
    
}
.fondoForm {
    background-color: coral;
}
.smallForm {
    font-size: 20px;
}
.colorBtn {
    background-color: white;
    color: black;
    font-size: 1.5rem;
    margin: 5px;
}
.colorBtn:hover {
    background-color:coral;
    color:black;
}


/* BOTONES BANCOS */
.botonesBanco {
    width: 50px;
    height: 50px;
}

.colorCard {
    width: 25rem;
    margin-top: 30px;
    border-radius: 1rem;
}
.dropdown {
    text-align: center;
    margin-bottom: 3rem;
}
.dropdown-menu {
    width: 25rem;
    text-align: center;
    border-radius: 1rem;
}
.dropdown-menu:hover {
    background-color: gray;

} 
.dropdown-item {
    text-decoration: none;

}
.dropdown-item:hover{
    background-color: gray;
}
/* OFERTAS/DESCUENTOS */
.ofertas-descuentos {
    text-align: center;
    text-decoration:underline ;
}
.categorias {
    background-color: rgba(0, 0, 0, 0.356);
    color: white;
}
.list-group {
    text-align: center;
    font-size: 1rem;
    margin-top: 15px;
}


/**************CARD************/
.cardOfertas {
    padding: 0%;
    /*margin-left: 20px;*/
    border-radius: 6px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;
    margin-top: 35px;
    margin-left: 20px;
}
.cardOfertas:hover {
    box-shadow:5px 5px 20px rgba(0,0,0,0.4);
    transform: translate(-3%);
}

.card-body {
    text-align: center;
}
.card-title {
    margin-top: 8px;
    margin-bottom: 8px;
}
.btnCard {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: coral;
    border: 1px solid coral;
    border-radius: 4px;
    transition: all 400ms ease;
    margin-bottom: 10px;
    
}

.btnCard {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color:coral;
    border: 1px solid coral;
    border-radius: 4px;
    transition: all 400ms ease;
}
.btnCard:hover {
    background: coral;
    color: white;
}

.masOfertas {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 20px;
}
.masOfertas a {
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: black;
    
}


/* USA EN TU TIENDA */




/* AYUDA */


    



    

   
    
   
 
    
    

